<div id="w">
  <div id="content" class="clearfix">
    <div id="userphoto"><%= image_tag ("nasser1.jpg"), class: 'avatar-large' %></div>
    <h1><%= @profile.first_name.capitalize %> <%= @profile.last_name.capitalize %></h1>
    <nav id="profiletabs">
      <ul class="clearfix">
        <li><a href="#bio" class="sel">Membership</a></li>
        <li><a href="#activity">Classes</a></li>
        <li><a href="#friends">Wish List</a></li>
        <li><a href="#settings">User Info</a></li>
      </ul>
    </nav>
    <section id="bio">
      <p>Various content snippets courtesy of <a href="http://bluthipsum.com/">Bluth Ipsum</a>.</p>
      <p>Can't a guy call his mother pretty without it seeming strange? Amen. I think that's one of Mom's little fibs, you know, like I'll sacrifice anything for my children.</p>
      <p>She's always got to wedge herself in the middle of us so that she can control everything. Yeah. Mom's awesome. I run a pretty tight ship around here. With a pool table.</p>
    </section>
    <section id="activity" class="hidden">
      <p>Most recent actions:</p>
      <p class="activity">@10:15PM - Submitted a news article</p>
      <p class="activity">@9:50PM - Submitted a news article</p>
      <p class="activity">@8:15PM - Posted a comment</p>
      <p class="activity">@4:30PM - Added <strong>someusername</strong> as a friend</p>
      <p class="activity">@12:30PM - Submitted a news article</p>
    </section>
    <section id="friends" class="hidden">
      <p>Friends list:</p>
      <ul id="friendslist" class="clearfix">
        <li><a href="#"><img src="images/avatar.png" width="22" height="22"> Username</a></li>
        <li><a href="#"><img src="images/avatar.png" width="22" height="22"> SomeGuy123</a></li>
        <li><a href="#"><img src="images/avatar.png" width="22" height="22"> PurpleGiraffe</a></li>
      </ul>
    </section>
    <section id="settings" class="hidden">
      <p class="setting"><span>E-mail Address</span><%= @user.email %></p>

      <p class="setting"><span>Phone Number</span><%= @profile.phone_number %></p>

      <p class="setting"><span>Birthday</span><%= @profile.date_of_birth.strftime("%d of %B, %Y") %></p>

      <p class="setting"><span>Gender</span><%= @profile.gender %></p>

      <p class="setting"><span>Address</span><%= @profile.street_address %>, <%= @profile.city %>, <%= @profile.state %> <%= @profile.postal_code %></p>
      <%= link_to 'Edit Profile', edit_user_profile_path(@profile), class:'btn btn-warning m-1' %>
    </section>
  </div><!-- @end #content -->
</div><!-- @end #w -->
<script type="text/javascript">
$(function(){
  $('#profiletabs ul li a').on('click', function(e){
    e.preventDefault();
    var newcontent = $(this).attr('href');

    $('#profiletabs ul li a').removeClass('sel');
    $(this).addClass('sel');

    $('#content section').each(function(){
      if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
    });

    $(newcontent).removeClass('hidden');
  });
});
</script>
