<div class="container d-flex">
  <div class="card" style="width: 18rem;text-align: center">
    <div style="padding: 28px;">
      <%= image_tag ("nasser1.jpg"), class: 'avatar-large' %>
    </div>
    <!-- profile URL is profile picture -->
    <div class="card-body">
      <h5 class="card-title"><%= @profile.first_name.capitalize %> <%= @profile.last_name.capitalize %></h5>
      <p class="card-text"><%= @profile.phone_number %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= @user.email %></li>
      <li class="list-group-item"><%= @profile.date_of_birth.strftime("%d of %B, %Y") %></li>
      <li class="list-group-item"><i class="fas fa-male"></i><i class="fas fa-female"></i><%= @profile.gender %></li>
      <li class="list-group-item"><%= @profile.street_address %><br><%= @profile.city %>, <%= @profile.state %><br><%= @profile.postal_code %></li>
    </ul>
    <div class="card-body">
      <%= link_to 'Edit Profile', edit_user_profile_path(@profile), class:'btn btn-warning m-1' %>
      <%= link_to 'Change Password', edit_user_registration_path(current_user), class:'btn btn-warning m-1' %>
    </div>
  </div>
</div>
