<div class="container d-flex">
  <div class="profile-container-host">
    <div class='profile-card card-padding shadow'>
      <div class="profile-picture">

      </div>
      <div class='border-bottom card-padding'>
        <%= @profile.first_name %> <%= @profile.last_name %>
      </div>
      <div class='border-bottom card-padding'>
        <div>Joined in <b><%= @profile.created_at.to_s.match(/^\d+/) %></b>
        </div>
      </div>
      <div class='border-bottom card-padding'>
        <div>

        </div>
        <div>

        </div>
      </div>
      <div class="card-padding-edit">
        <%= link_to 'Edit Name', edit_user_path(current_user), class:'btn btn-primary' %>
      </div>
      <div class="card-padding">
        <%= link_to 'Change Password', edit_user_registration_path(current_user), class:'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
