<div class="navbar">
  <%= link_to pages_home_path, class:"navbar-home-button" do %>
    <%= image_tag "" %>
  <% end %>

  <%= link_to "profile", class: "navbar-profile-link" %>

  <%= link_to "Sign In", new_user_session_path, class: "navbar-signin-link" %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-signout-link" %>
</div>