<nav class="top-bar">
  <a class="navbar-logo" href="/">
    <img src="https://tonys-gym.square.site/uploads/b/105d58e0-4a6b-11e9-a2ed-91e638bc6c90/8969B1FE-160D-4A18-BAD5-8488EB486B77.jpeg" alt="Tonys Gym">
  </a>
  <ul class="navbar-links">
    <li>
      <%= link_to "Merchandise", products_path %>
    </li>
    <li>
      <%= link_to "Classes",courses_path %>
    </li>
    <li>
      <%= link_to "Memberships", user_memberships_path %>
    </li>
  </ul>
  <ul class="navbar-auth-links">
    <% if user_signed_in? %>
      <div class="dropdown">
        <button onclick="document.getElementById('dropdown').classList.toggle('active')">
          <img src="" alt="avatar">
        </button>
        <div  id="dropdown" class="dropdown-menu">
          <%= link_to "Profile", user_profile_path(current_user.id, current_user.profile.id), class: "dropdown-item" %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
        </div>
      </div>
      <div class="cart">
        <a href="#">
          <i class="fa">&#xf07a;</i>
        </a>
      </div>
    <% else %>
      <div class="navbar-signin-link">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </ul>
</nav>
